In [1]:
import json
import pprint

In [3]:
with open(".json/lc_pages.json") as f:
    data = json.load(f)

In [6]:
print(len(data))
print(data[0])

516
{'category': 'apparel', 'subcategory': '1968073031', 'avg_rating': '3.90', 'avg_sales_qty': '7000', 'total_pages': 209}

In [7]:
# import asyncio
from helpers.utils import extract_paths
from helpers.db_postgres_handler import AsyncPostgresDBHandler, PostgresDBHandler 
from settings import POSTGRES_HOST, POSTGRES_DATABASE, POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_PORT

In [ ]:
async def main(batch_size=10):
    items = list()
    db = AsyncPostgresDBHandler(POSTGRES_HOST, POSTGRES_DATABASE, POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_PORT)
    await db.connect()
    keys = list()
    for d in data:
        items.append(d)
        if len(items) >= batch_size:
            await db.bulk_upsert('staging.stg__dummy', items, conflict_columns=['category', 'sub_category'])
            items = list()
    await db.close()

In [24]:
# pprint.pprint(data)
db.close()

In [15]:
import pandas as pd
import json

In [66]:
paths = []
with open('.json/categories_mapping3.json') as f:
    data = json.load(f)
output = extract_paths(data)
df = pd.DataFrame(output)
# filter out rows where lvl8 is None
df[df['lvl8'].notna()]

,category,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7,lvl8,data_node
13607,office,3591019031,3591063031,15759997031,3591014031,3591546031,3591552031,3591084031,3591270031,3591270031
13608,office,3591019031,3591063031,15759997031,3591014031,3591546031,3591552031,3591084031,3591272031,3591272031
13609,office,3591019031,3591063031,15759997031,3591014031,3591546031,3591552031,3591084031,3591273031,3591273031

In [29]:
paths[-10:]

[['watches', '5518819031', '5518821031'],
 ['watches', '5518819031', '5518820031'],
 ['watches', '5518819031'],
 ['watches', '2563504031', '15723938031'],
 ['watches', '2563504031', '15723937031'],
 ['watches', '2563504031'],
 ['watches', '2563505031', '15723942031'],
 ['watches', '2563505031', '15723939031'],
 ['watches', '2563505031', '15723941031'],
 ['watches', '2563505031']]

In [25]:
data_dict = extract_paths(data)

# if data_dict[0].get("category") == 'bestsellers':
#     data_dict.pop(0)

ValueError: max() iterable argument is empty